In [1]:
import os
import urllib, json
import pandas as pd 
import numpy as np 
import datetime
import yfinance as yf


from eodhd import APIClient
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
from gridfs import GridFS

In [4]:
dfEcon=pd.read_csv(r"D:\EQUITY DATA\Site Data-Others\US_Econ.csv")

In [5]:
def read_url(url=" "):
    response = urllib.request.urlopen(url)
    data = json.loads(response.read())
    return data

def data_to_df(data=[]):
    df=pd.DataFrame.from_dict(data)
    
def convert_to_space_upper(text):
    import re
    if re.match(r'^[A-Za-z0-9_]+$', text):
        if re.match(r'^[a-z]+(_[a-z]+)*$', text):
            return text.replace('_', ' ').upper()
        else:
            return re.sub(r'([a-z0-9])([A-Z])', r'\1 \2', text).upper()
    else:
        return text.upper()


def concatList(clist=[]):
    df=pd.concat(clist,ignore_index=True)
    df.columns = df.columns.map(convert_to_space_upper)
    colList=df.columns.tolist()
    colList.remove("TICKER")
    colList.insert(0, "TICKER")
    df = df.reindex(columns=colList)
    return df

In [201]:
class EOD_API():
    
    #EOD API 
    YOUR_API_KEY="64795e4c5f6224.06757647776"
    api = APIClient(YOUR_API_KEY)
    
   
    def exchange_list():
        exchange_dict=read_url(url=f"https://eodhistoricaldata.com/api/exchanges-list/?api_token={EOD_API.YOUR_API_KEY}")
        dfExchange=pd.DataFrame.from_dict(exchange_dict)
        return dfExchange

    def global_ticker_list(dfExchange=[]):
        exchangeList = dfExchange["Code"].tolist()
        dfGlobalTicker=[]
        for exchangeCode in exchangeList:
            dfTicker = read_url(url=f"https://eodhistoricaldata.com/api/exchange-symbol-list/{exchangeCode}?api_token={EOD_API.YOUR_API_KEY}&fmt=json")
            dfGlobalTicker.append(dfTicker)
        return dfGlobalTicker

    def tickers_in_exchange(exchangeCode=[]):

        tick_dict = read_url(url=f"https://eodhistoricaldata.com/api/exchange-symbol-list/{exchangeCode}?api_token={EOD_API.YOUR_API_KEY}&fmt=json")
        dfTicker=pd.DataFrame.from_dict(tick_dict)
        return dfTicker

  

    def company_info(exchangeTicker={}):
        #Fundamental Data Keys
        allFundamentalDataKeys=['General', 'Highlights', 'Valuation', 'SharesStats', 'Technicals',
               'SplitsDividends', 'AnalystRatings', 'Holders', 'InsiderTransactions',
               'ESGScores', 'outstandingShares', 'Earnings', 'Financials']
    
        #Key Sub Classification
        #ESGScource - Outdated 

        companyInfoDataKeys = ['General', 'Highlights', 'Valuation', 'SharesStats', 'Technicals']#,'AnalystRatings']#'SplitsDividends']
        #managementInfo = it is part of "General" - "Column"= "officers"

        shareholdersKey = ["Holders"]
        iTransactionKey = ["InsiderTransactions"]

        #3 Parts to Earnings - Historical, Annnual, Trend 
        # Trend is not useful
        earningsKey = ["Earnings"]

        #Outstanding Shares is multi-period 
        osSharesKey = ['outstandingShares'] 
        financialsKey = ["Financials"]
            
        #list of DataFrames for each company details 
        companyInfo = [] 
        managementInfo=[]
        shareholderInfo = []
        insiderTransacInfo = []
        earningHist = []
        #earningTrend  = []
        earningAnnual = [] 
        annualFS=[]
        quarterFS=[]

        noData = {}
        noDataDf = []
        for exchange in exchangeTicker:
            print(f"Exchange:{exchange}")
            for ticker in exchangeTicker[exchange]:
                try:
                    data = read_url(f"https://eodhistoricaldata.com/api/fundamentals/{ticker}.{exchange}?api_token={EOD_API.YOUR_API_KEY}")

                    try:
                        #Company Info
                        ciL = []
                        for key in companyInfoDataKeys:
                            dfc=pd.DataFrame.from_dict([data[key]])    
                            ciL.append(dfc)


                        dfCI=pd.concat(ciL,axis=1)
                        dfCI.columns = dfCI.columns.map(convert_to_space_upper)

                        dfOff = pd.DataFrame.from_dict(dfCI.copy()["OFFICERS"][0]).transpose()
                        dfOff["TICKER"] = ticker
                        dfCI = dfCI.drop(["ADDRESS DATA","OFFICERS","LISTINGS"],axis=1)
                        dfCI.rename(columns={"CODE": "TICKER", "COUNTRY NAME": "COUNTRY"},inplace=True)
                        dfCI = dfCI.loc[:,~dfCI.columns.duplicated()]
                        companyInfo.append(dfCI)
                        managementInfo.append(dfOff)
                    except:
                        noDataDf.append("No Company Info")
                        noData[ticker] = noDataDf

                    try:
                        #Company Financials 
                        dfF= []
                        statements = ['Balance_Sheet','Cash_Flow','Income_Statement']
                        periods = ["quarterly","yearly"]
                        for period in periods:
                            for statement in statements:
                                dfFin=pd.DataFrame.from_dict(data['Financials'][statement][period]).transpose()

                                if statement not in ["Balance_Sheet"]:
                                    dfFin = dfFin.drop(["filing_date","currency_symbol"],axis=1)

                                dfF.append(dfFin)

                            dfFS=dfF[0].merge(dfF[1],left_on="date",right_on="date").merge(dfF[2],left_on="date",right_on="date")

                            #removing Duplicate Columns
                            merged_df = dfFS
                            # Step 1: Identify columns to drop
                            drop_columns = [col for col in merged_df.columns if col.endswith('_y')]

                            # Step 2: Rename columns ending with '_x'
                            renamed_columns = {col: col[:-2] for col in merged_df.columns if col.endswith('_x')}
                            merged_df = merged_df.rename(columns=renamed_columns)

                            # Step 3: Drop identified '_y' columns
                            merged_df = merged_df.drop(columns=drop_columns)

                            # Step 4: Rename remaining columns by removing '_x' suffix
                            merged_df.columns = [col[:-2] if col.endswith('_x') else col for col in merged_df.columns]

                            dfFS = merged_df


                            dfFS["date"]=dfFS["date"].astype("datetime64[ns]")
                            dfFS["YEAR"] = dfFS["date"].astype("datetime64[ns]").dt.year 
                            dfFS["Ticker"]=ticker
                            # Extract year and quarter

                            try:
                                if period=="yearly":
                                    dfFS["PERIOD"]=dfFS["date"].dt.year.astype(str)
                                    periodSh="annual"
                                else:
                                    dfFS["PERIOD"] = dfFS["date"].dt.year.astype(str) + "-Q" + dfFS["date"].dt.quarter.astype(str)
                                    periodSh = "quarterly"

                                dfSh=pd.DataFrame.from_dict(data['outstandingShares'][periodSh]).transpose()


                                if period == "quarterly":
                                    dfSh["PERIOD"] = dfSh["date"]          
                                    dfShs=dfSh.copy()[["PERIOD","shares"]]
                                      # dfShs = dfSh.copy()[["dateFormatted","shares"]]
                                      # dfShs.columns = ["date","shares"]
                                    dfFSm=pd.merge(dfFS,dfShs,left_on="PERIOD",right_on="PERIOD",how="left")
                                    quarterFS.append(dfFSm)
                                    dfF = []
                                else:
                                    dfSh["PERIOD"] = dfSh["date"]           
                                    dfShs=dfSh.copy()[["PERIOD","shares"]]
                                    dfFSm=pd.merge(dfFS,dfShs,left_on="PERIOD",right_on="PERIOD",how="left")
                                    annualFS.append(dfFSm)
                                    dfF = []
                            except:
                                noDataDf.append("No Shares Outstanding Info")
                                noData[ticker] = noDataDf
                                if period=="yearly":
                                    annualFS.append(dfFSm)
                                                                   
                                else:
                                    quarterlyFS.append(dfFSm)
                                dfF = []

                    except:
                        noDataDf.append("No Financials Info")
                        noData[ticker] = noDataDf

                    try:
                        #Insider Transactions
                        dfInsider=pd.DataFrame.from_dict(data["InsiderTransactions"]).transpose()
                        dfInsider["TICKER"] = ticker
                        insiderTransacInfo.append(dfInsider)
                    except:
                        noDataDf.append("No Insider Transaction Info")
                        noData[ticker] = noDataDf

                    try:
                        #Earnings - Historical and Annual
                        dfEarningHistorical=pd.DataFrame.from_dict(data["Earnings"]["Annual"]).transpose().reset_index(drop=True)
                        dfEarningHistorical["TICKER"] = ticker
                        earningHist.append(dfEarningHistorical)

                        dfEarningAnnual=pd.DataFrame.from_dict(data["Earnings"]["Annual"]).transpose().reset_index(drop=True)
                        dfEarningAnnual["TICKER"] = ticker
                        earningAnnual.append(dfEarningAnnual)
                    except:
                        noDataDf.append("No Earnings Info")
                        noData[ticker] = noDataDf

                    try:
                        #Shareholders
                        dfHolderInsti=pd.DataFrame.from_dict(data["Holders"]["Institutions"]).transpose()
                        dfHolderInsti["Holding Type"]="Institutions"

                        dfHolderFunds=pd.DataFrame.from_dict(data["Holders"]["Funds"]).transpose()
                        dfHolderFunds["Holding Type"]="Funds"
                        dfShareholding=pd.concat([dfHolderInsti,dfHolderFunds],axis=0)
                        dfShareholding["TICKER"]=ticker
                        shareholderInfo.append(dfShareholding)
                    except:
                        noDataDf.append("No Shareholders Info")
                        noData[ticker] = noDataDf

                except:
                    noDataDf.append("No Info")
                    noData[ticker] = noDataDf
                print(ticker,end =",")
                noDataDf = []


        return companyInfo,managementInfo,annualFS,quarterFS,insiderTransacInfo,earningHist,earningAnnual,shareholderInfo,noData

In [202]:
def Ratios(df=[]):
    #dfF = annual or quarterly financials 
    
    dfF = df.copy()
    
    debt=dfF['LONG TERM DEBT'] + dfF['SHORT LONG TERM DEBT']+dfF['CAPITAL LEASE OBLIGATIONS']

    #PER SHARE RATIOS 
    dfF["EPS"] = dfF["NET INCOME"]/dfF["SHARES"]
    dfF["TOTAL REVENUE PER SHARE"] = dfF["TOTAL REVENUE"]/dfF["SHARES"]
    dfF["FREE CASH FLOW PER SHARE"] = dfF['FREE CASH FLOW']/dfF["SHARES"]
    dfF["EBITDA PER SHARE"] = dfF['EBITDA']/dfF["SHARES"]

    #VALUATION RELATED 
    dfF['NON-OPERATIONS VALUE'] = dfF['CASH'] + dfF['SHORT TERM INVESTMENTS'] + dfF['LONG TERM INVESTMENTS'] - (dfF['MINORITY INTEREST']*-1) - debt
    dfF['FAIR VALUE (30)'] = ((dfF['FREE CASH FLOW']*30)+(dfF['NON-OPERATIONS VALUE']))/dfF['SHARES']
    dfF['FAIR VALUE (15)'] =((dfF['FREE CASH FLOW']*15)+(dfF['NON-OPERATIONS VALUE']))/dfF['SHARES']
    dfF['FAIR VALUE (45)'] =((dfF['FREE CASH FLOW']*45)+(dfF['NON-OPERATIONS VALUE']))/dfF['SHARES']
    dfF["Effective Interest Rate"] = dfF["INTEREST EXPENSE"]/(debt)
    dfF["Effective Tax Rate"] =dfF["INCOME TAX EXPENSE"]/dfF["INCOME BEFORE TAX"] 
    dfF["DEBT %"] = debt/(debt+dfF["TOTAL STOCKHOLDER EQUITY"])
    dfF["Equity %"] = 1 - dfF["DEBT %"]


    #PROFIT MARGINS 
    dfF['Net Profit Margin'] = dfF['NET INCOME']/dfF['TOTAL REVENUE']                     
    dfF['Operating Profit Margin'] = dfF['OPERATING INCOME']/dfF['TOTAL REVENUE']
    dfF['EBITDA Margin'] = dfF['EBITDA']/dfF['TOTAL REVENUE']
    dfF['Gross Profit Margin'] = dfF['GROSS PROFIT']/dfF['TOTAL REVENUE']
    dfF['DATE']=pd.to_datetime(dfF['DATE']).dt.date


    #ACTIVITY/TURNOVER RATIOS:
    dfF["INVENTORY TURNOVER"]=dfF["COST OF REVENUE"]/dfF["INVENTORY"]
    dfF["Days of inventory on hand (DOH)"]=365/dfF["INVENTORY TURNOVER"]
    dfF["RECEIVABLES TURNOVER"] = dfF["TOTAL REVENUE"]/dfF["NET RECEIVABLES"]
    dfF["Days of sales outstanding (DSO)"]=365/dfF["RECEIVABLES TURNOVER"]
    dfF["PAYABLES TURNOVER"] = dfF["COST OF REVENUE"]/dfF["ACCOUNTS PAYABLE"]
    dfF["Number of days of payables"] = 365/dfF["PAYABLES TURNOVER"]
    dfF["WORKING CAPITAL TURNOVER"] = dfF["TOTAL REVENUE"]/dfF["NET WORKING CAPITAL"]
    dfF["FIXED ASSET TURNOVER"] = dfF["TOTAL REVENUE"]/dfF["NET TANGIBLE ASSETS"]
    dfF["TOTAL ASSET TURNOVER"] = dfF["TOTAL REVENUE"]/dfF["TOTAL ASSETS"]


    #LIQUIDITY RATIOS 
    dfF['CURRENT RATIO'] = dfF['TOTAL CURRENT ASSETS']/dfF['TOTAL CURRENT LIABILITIES']
    dfF['QUICK RATIO'] = (dfF['CASH'] + dfF['SHORT TERM INVESTMENTS'] + dfF["NET RECEIVABLES"])/dfF['TOTAL CURRENT LIABILITIES']
    dfF["CASH RATIO"]=  (dfF['CASH'] + dfF['SHORT TERM INVESTMENTS'])/dfF['TOTAL CURRENT LIABILITIES']                                                                                              
    dfF["Cash conversion cycle"] = dfF["Days of inventory on hand (DOH)"]+dfF["Days of sales outstanding (DSO)"]-dfF["Number of days of payables"]

    #SOLVENCY & COVERAGE RATIOS
    dfF['Debt to Equity'] = (debt)/dfF['TOTAL STOCKHOLDER EQUITY']
    dfF["DEBT TO ASSETS"] = dfF["TOTAL ASSETS"]/debt
    dfF["FINANCIAL LEVERAGE"]=dfF["TOTAL ASSETS"]/dfF['TOTAL STOCKHOLDER EQUITY']
    
    dfF["INTEREST COVERAGE"] = dfF["EBIT"]/dfF["INTEREST EXPENSE"]


    #RETURN ON CAPITAL RATIOS 
    dfF['ROIC'] = dfF['EBIT']/(debt + dfF['TOTAL STOCKHOLDER EQUITY'])
    dfF["ROA"] = dfF["NET INCOME"]/dfF["TOTAL ASSETS"]
    dfF["Operating ROA"] = dfF["EBIT"]/dfF["TOTAL ASSETS"]
    dfF["ROE"] = dfF["NET INCOME"]/dfF['TOTAL STOCKHOLDER EQUITY']


    numerics = ['int', 'float']
    colnumeric = dfF.select_dtypes(include=numerics).columns
    dfF[colnumeric]=dfF[colnumeric].fillna(0)
    dfF.replace([np.inf,-np.inf],0,inplace=True)
    dfF[colnumeric] = round(dfF[colnumeric],4)
    dfF.columns = dfF.columns.str.upper()
    dfF.columns = dfF.columns.str.lstrip()
    
    return dfF

In [203]:

#SCREENER DATAFRAME - GROWTH AND RATINGS 
#dfF = "Annual Financials"
def screenerTable(dfF=[],dfC=[],dfM=[]):
    
    #GROWTH AND AVERAGE 
    metdf1=dfF[dfF["YEAR"]==dfF["YEAR"].max()]
    metdf2=dfF[dfF["YEAR"]==(dfF["YEAR"].max()-1)]

    tickcy=metdf1["TICKER"].unique().tolist()
    tickly=metdf2["TICKER"].unique().tolist()

    ticknt = []
    for tick in tickly:
        if tick not in tickcy:
            ticknt.append(tick)
    metdf2=metdf2[metdf2["TICKER"].isin(ticknt)]
    metdf = pd.concat([metdf1,metdf2],axis=0)
    diff_cols = metdf.columns.difference(dfC.columns)

    #Filter out the columns that are different. You could pass in the df2[diff_cols] directly into the merge as well.
    selcols = diff_cols.tolist()+ ["TICKER"]
    selcolmetdf = metdf[selcols]
    metdfC = pd.merge(dfC,selcolmetdf,left_on="TICKER",right_on="TICKER",how="left")   

    growth_cols = dfM[dfM['Screener_MultiYear']=="growth"]["Metric"].unique().tolist() 

    avg_cols = dfM[dfM['Screener_MultiYear']=="average"]["Metric"].unique().tolist()  
    colListg = growth_cols+[coName,year]
    colLista = avg_cols+[coName,year]

    year_list=dfF[year].unique().tolist()
    year_list.sort(reverse=True)

    dfFg = dfF[colListg]
    dfF10g=dfFg[dfFg[year].isin(year_list[:11])]
    dfF5g=dfFg[dfFg[year].isin(year_list[:6])]
    dfF3g=dfFg[dfFg[year].isin(year_list[:4])]
    dfF1g=dfFg[dfFg[year].isin(year_list[:2])]
    dfF1ge=dfFg[dfFg[year].isin(year_list[1:3])]
    grL = [dfF10g,dfF5g,dfF3g,dfF1g,dfF1ge]
    dfFa = dfF[colLista]
    dfF10a=dfFa[dfFa[year].isin(year_list[:10])]
    dfF5a=dfFa[dfFa[year].isin(year_list[:5])]
    dfF3a=dfFa[dfFa[year].isin(year_list[:4])]
    dfF1a=dfFa[dfFa[year].isin(year_list[:2])]
    dfF1ae=dfFa[dfFa[year].isin(year_list[1:3])]
    avL = [dfF10a,dfF5a,dfF3a,dfF1a,dfF1ae]


    colnameg = [" 10y-growth"," 5y-growth"," 3y-growth"," 1cy-growth"," 1ly-growth"]
    colnameav = [" 10y-average"," 5y-average"," 3y-average"," 1cy-average"," 1ly-average"]
    growthlist = []
    count = 0
    for yg in grL:
        yg=yg.pivot_table(index=coName,columns=year,values=growth_cols).groupby(level=0,axis=1).pct_change(axis=1)
        ayg=yg.groupby(level=0,axis=1).mean()
        col_list = ayg.columns.tolist()
        col_list =  [x + colnameg[count] for x in col_list]
        ayg.columns = col_list 
        growthlist.append(ayg)
        count += 1

    averagelist = []
    countav=0
    for ya in avL:
        ya=ya.pivot_table(index=coName,columns=year,values=avg_cols)
        ayg=ya.groupby(level=0,axis=1).mean()
        col_list = ayg.columns.tolist()
        col_list =  [x + colnameav[countav] for x in col_list]
        ayg.columns = col_list 
        averagelist.append(ayg)
        countav += 1

    multilist = growthlist + averagelist
    
    multiyeardfC = pd.concat(multilist,axis=1,join="inner").reset_index()
    multidfC = metdfC.merge(multiyeardfC,left_on=coName,right_on=coName)
    
    multidfC

    colcg=[col for col in multidfC.columns if '1cy-growth' in col]
    colclg=[col for col in multidfC.columns if '1ly-growth' in col]
    for acol in growth_cols:
        try:
            multidfC.loc[~multidfC[f'{acol} 1cy-growth'].isin([np.nan,0]),f'{acol} 1y-growth'] = multidfC.loc[~multidfC[f'{acol} 1cy-growth'].isin([np.nan,0]),f'{acol} 1cy-growth']
            multidfC.loc[multidfC[f'{acol} 1cy-growth'].isin([np.nan,0]),f'{acol} 1y-growth'] = multidfC.loc[multidfC[f'{acol} 1cy-growth'].isin([np.nan,0]),f'{acol} 1ly-growth']
            multidfC.drop([f'{acol} 1cy-growth',f'{acol} 1ly-growth'],axis=1,inplace=True)
        except:
            pass

    colca=[col for col in multidfC.columns if '1cy-average' in col]
    colcla=[col for col in multidfC.columns if '1ly-average' in col]
    for acol in avg_cols:
        multidfC.loc[~multidfC[f'{acol} 1cy-average'].isin([np.nan]),f'{acol} 1y-average']=multidfC.loc[~multidfC[f'{acol} 1cy-average'].isin([np.nan]),f'{acol} 1cy-average']
        multidfC.loc[multidfC[f'{acol} 1cy-average'].isin([np.nan]),f'{acol} 1y-average']=multidfC.loc[multidfC[f'{acol} 1cy-average'].isin([np.nan]),f'{acol} 1ly-average']
        multidfC.drop([f'{acol} 1cy-average',f'{acol} 1ly-average'],axis=1,inplace=True)

    
    
    #RATING 
    met_list = [rev_type,fcf,roic,nprofit,gm,ebitda_m,npm,d_e,c_r]

    colnameg = [" 10y-growth"," 5y-growth"," 3y-growth"," 1y-growth"]
    colnameav = [" 10y-average"," 5y-average"," 3y-average"," 1y-average"]
    ratingdF = multidfC.copy()

    for metrics in met_list:
        for co in colnameg+colnameav:
            try:
                if metrics in [rev_type,fcf,roic,npm,nprofit]:
                        bins = [-100000,-0.1,0,0.07,0.15,0.3,100000]
                        label = [-2,-1,1,3,6,9]


                elif metrics == c_r:
                        bins = [0,0.05,0.2,0.75,1.5,2.5,100000]
                        label = [-2,-1,0,1,2,3]


                elif metrics ==d_e:
                        bins = [0,0.05,1,1.5,3,5,100000]
                        label = [-2,-1,0,1,2,3]

                else:
                    bins = [-100000,-0.1,0,0.1,0.25,0.5,100000]
                    label = [-2,-1,0,1,2,3]

                ratingdF[f'{metrics}{co}-scale'] = pd.cut(ratingdF[f'{metrics}{co}'],bins=bins,labels=label).astype("float")

            except:
                pass
    yL = ["10y","5y","3y","1y"]

    for y in yL :
        colsa=[col for col in ratingdF.columns if f'{y}-average-scale' in col]
        colsg = [col for col in ratingdF.columns if f'{y}-growth-scale' in col]
        cols = colsa + colsg
        ratingdF[cols]=ratingdF[cols].fillna(0)
        ratingdF[f'{y}-Overall Rating']=(ratingdF[cols].sum(axis=1)/57)*10
        ratingdF[f'{y}-Avg Rating']=(ratingdF[colsa].sum(axis=1)/30)*10
        ratingdF[f'{y}-Growth Rating']=(ratingdF[colsg].sum(axis=1)/27)*10
    ratingdF['Fundamental Growth Rating']=round((ratingdF['10y-Growth Rating'] + ratingdF['5y-Growth Rating']*2 + ratingdF['3y-Growth Rating']*3 + ratingdF['1y-Growth Rating']*4)/10,2)
    ratingdF['Fundamental Avg Rating']=round((ratingdF['10y-Avg Rating'] + ratingdF['5y-Avg Rating']*2 + ratingdF['3y-Avg Rating']*3 + ratingdF['1y-Avg Rating']*4)/10,2)

    ratingdF["Revenue Size"] = pd.cut(ratingdF[rev_type],bins=[-100000000000000,500000000,1000000000,20000000000,100000000000,100000000000000],labels=[0,0.25,0.5,0.75,1]).astype("float")
    ratingdF["Net Profit Size"] = pd.cut(ratingdF[rev_type],bins=[-100000000000000,50000000,100000000,2000000000,10000000000,100000000000000],labels=[0,0.25,0.5,0.75,1]).astype("float")
    ratingdF["EBITDA Size"] = pd.cut(ratingdF[rev_type],bins=[-100000000000000,200000000,400000000,4000000000,20000000000,100000000000000],labels=[0,0.25,0.5,0.75,1]).astype("float")
    ratingdF["ASSET Size"] =  pd.cut(ratingdF[rev_type],bins=[-100000000000000,1500000000,3000000000,60000000000,300000000000,100000000000000],labels=[0,0.25,0.5,0.75,1]).astype("float")
    ratingdF["Fundamental Size Rating"] = round(((ratingdF["Revenue Size"]+ratingdF["Net Profit Size"]+ratingdF["EBITDA Size"]+ratingdF["ASSET Size"])/4)*10,2)
    ratingdF["Fundamental Size Rating"].fillna(0,inplace=True)
    ratingdF['Fundamental Overall Rating']=round((ratingdF['10y-Overall Rating'] + ratingdF['5y-Overall Rating']*2 + ratingdF['3y-Overall Rating']*3 + ratingdF['1y-Overall Rating']*4)/10,2)
    ratingdF['Fundamental Overall Rating']=round((9*ratingdF['Fundamental Overall Rating'] + ratingdF["Fundamental Size Rating"])/10,2)

    rdf=ratingdF[['TICKER','Fundamental Growth Rating','Fundamental Avg Rating',"Fundamental Size Rating",'Fundamental Overall Rating']]
    
    multidfC=pd.merge(multidfC,rdf,left_on="TICKER",right_on="TICKER",how="left")
    multidfC.columns = multidfC.columns.str.upper()
    multidfC.columns = multidfC.columns.str.lstrip()



    return multidfC

In [204]:
def QFUSD(quarterly_financials=[]):
    import yfinance as yf
    dFF = quarterly_financials.copy()
    dFF["DATE"]=pd.to_datetime(dFF["DATE"],errors="coerce")
   
    dFF["YEAR"]=dFF["DATE"].dt.year
    dFF["QUARTER"]= dFF["DATE"].dt.quarter
    dFF["MONTH"] = dFF["DATE"].dt.month
 
    sd="1980-1-1"
    ed = datetime.date.today()

    
    currencyList=dFF["CURRENCY SYMBOL"].unique().tolist()
    

    try:
        currencyList.remove("USD")
    except:
        pass

    try:
        currencyList.remove(np.nan)
    except:
        pass
  
    try:
        currencyList.remove(None)
    except:
        pass
    
    if len(currencyList)>0:
        currencies=currencyList
        currencyTick = []
        for currency in currencies:
            currencyTick.append(currency+"USD=X")

        currencyData = yf.download(currencyTick,start=sd,end=ed)

        if len(currencyTick)==1:
            exRates=currencyData["Close"].to_frame()
            exRates.columns = currencyTick
        else:
            exRates=currencyData["Close"]

        exQ = exRates.resample("Q").mean().reset_index()
        exQ["YEAR"] = exQ["Date"].dt.year
        exQ["QUARTER"] = exQ["Date"].dt.quarter
        exM =  exRates.resample("M").mean().reset_index()
        exM["YEAR"] = exM["Date"].dt.year

        exM["MONTH"] = exM["Date"].dt.month

        dFFex=dFF[dFF["CURRENCY SYMBOL"].isin(currencies)][["TICKER","DATE","YEAR","MONTH","QUARTER","CURRENCY SYMBOL"]]

        zlist = []
        for currency in currencies:
            cCode=currency+"USD=X"

            x=dFFex[dFFex["CURRENCY SYMBOL"]==currency]

            yFp = exQ[[cCode,"YEAR","QUARTER"]]
            yFp.columns = ["ExRate_forperiod","YEARfp","QUARTERfp"]


            yAd = exM[[cCode,"YEAR","MONTH"]]
            yAd.columns=["ExRate_asonDate","YEARas","MONTHas"]

            z=pd.merge(x,yFp,left_on=["YEAR","QUARTER"],right_on=["YEARfp","QUARTERfp"])
            zqq=pd.merge(z,yAd,left_on=["YEAR","MONTH"],right_on=["YEARas","MONTHas"])

            zlist.append(zqq)

        erT=pd.concat(zlist)


        erT.drop(["YEAR","MONTH","QUARTER","CURRENCY SYMBOL","YEARfp","QUARTERfp","YEARas","MONTHas"],axis=1,inplace=True)

        dFFex=pd.merge(dFF,erT,left_on=["TICKER","DATE"],right_on=["TICKER","DATE"])

        usdDF=dFF[~dFF["CURRENCY SYMBOL"].isin(currencies)]

        usdF=pd.concat([dFFex,usdDF])

        usdF.loc[usdF["CURRENCY SYMBOL"]=="USD","ExRate_asonDate"]=1
        usdF.loc[usdF["CURRENCY SYMBOL"]=="USD","ExRate_forperiod"]=1

        usdF.loc[usdF["CURRENCY SYMBOL"].isin([np.nan]),"ExRate_asonDate"]=1
        usdF.loc[usdF["CURRENCY SYMBOL"].isin([np.nan]),"ExRate_forperiod"]=1
    else:
        usdF = dfF.copy()
        usdF["ExRate_forperiod"] = 1
        usdF["ExRate_asonDate"]=1
    return usdF

In [205]:
def AFUSD(annual_financials=[]):
    import datetime
    import yfinance as yf
    
    dFF=annual_financials.copy()
    
    dFF["DATE"]=pd.to_datetime(dFF["DATE"],errors="coerce")
    dFF["YEAR"] = dFF["DATE"].dt.year
    dFF["MONTH"] =  dFF["DATE"].dt.month
    dFF.loc[dFF["MONTH"]<6,"YEAR"] = dFF.loc[dFF["MONTH"]<6,"YEAR"] - 1
    dFF["YEAR BS"] = dFF["DATE"].dt.year
    dFF["LAST YEAR"]=dFF["YEAR BS"]-1
   
    
    
    currencyList=dFF["CURRENCY SYMBOL"].unique().tolist()
    try:
        currencyList.remove("USD")
    except:
        pass

    try:
        currencyList.remove(np.nan)
    except:
        pass
    
    try:
        currencyList.remove(None)
    except:
        pass
    
    if len(currencyList)>0:

        currencies=currencyList
        currencyTick = []
        for currency in currencies:
            currencyTick.append(currency+"USD=X")


        sd="1980-1-1"
        ed = datetime.date.today()

        currencyData = yf.download(currencyTick,start=sd,end=ed)
        if len(currencyTick)==1:
            exRates=currencyData["Close"].to_frame()
            exRates.columns = currencyTick
        else:
            exRates=currencyData["Close"]


        exY=exRates.resample("Y").mean().reset_index()
        exY["Year"] = exY["Date"].dt.year

        exM=exRates.resample("M").mean().reset_index()
        exM["Year"] = exM["Date"].dt.year
        exM["Month"]=exM["Date"].dt.month

        dFFex=dFF[dFF["CURRENCY SYMBOL"].isin(currencies)][["TICKER","DATE","YEAR","YEAR BS","LAST YEAR","MONTH","CURRENCY SYMBOL"]]


        zlist = []
        for currency in currencies:
            cCode=currency+"USD=X"

            x=dFFex[dFFex["CURRENCY SYMBOL"]==currency]

            y=exY[[cCode,"Year"]]
            yL=exY[[cCode,"Year"]]
            m = exM[[cCode,"Year","Month"]]
            m.columns = ["ExRate_asonDate","YEARexasd","MONTHexasd"]

            y.columns = ["ExRate_currentYear","YEARexCY"]
            yL.columns = ["ExRate_lastYear","YEARexLY"]

            z=pd.merge(x,m,left_on=["YEAR BS","MONTH"],right_on=["YEARexasd","MONTHexasd"])
            zq=pd.merge(z,y,left_on=["YEAR BS"],right_on=["YEARexCY"])


            zqq=pd.merge(zq,yL,left_on=["LAST YEAR"],right_on=["YEARexLY"])
            zlist.append(zqq)

        erT=pd.concat(zlist)

        erT["YearFactor"] = erT["MONTH"]/12

        erT["ExRate_forperiod"]=(erT["YearFactor"]*erT["ExRate_currentYear"])+((1-erT["YearFactor"])*erT["ExRate_lastYear"])

        erT.drop(["CURRENCY SYMBOL","YEAR","YEAR BS","LAST YEAR","MONTH","YEARexasd","MONTHexasd","YEARexCY","YEARexLY"],axis=1,inplace=True)

        dFFex=pd.merge(dFF,erT,left_on=["TICKER","DATE"],right_on=["TICKER","DATE"])

        usdDF=dFF[~dFF["CURRENCY SYMBOL"].isin(currencies)]

        usdF=pd.concat([dFFex,usdDF])

        usdF.loc[usdF["CURRENCY SYMBOL"]=="USD","ExRate_asonDate"]=1
        usdF.loc[usdF["CURRENCY SYMBOL"]=="USD","ExRate_forperiod"]=1

        usdF.loc[usdF["CURRENCY SYMBOL"].isin([np.nan]),"ExRate_asonDate"]=1
        usdF.loc[usdF["CURRENCY SYMBOL"].isin([np.nan]),"ExRate_forperiod"]=1
    
        #usdF.dropna(subset=["ExRate_forperiod"],inplace=True)
    else:
        usdF = dfF.copy()
        usdF["ExRate_forperiod"] = 1
        usdF["ExRate_asonDate"]=1
        
    return usdF

In [206]:
class MongoDB:
    global db 
    
    uri = "mongodb+srv://yash:bianca2212@takestock.zhiygnu.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(uri, server_api=ServerApi('1'))
    db = client["Takestock"]
    
    
    def insert_grid(collectionName=[],df=[]):
        fs = GridFS(db, collection=collectionName)
        #DELETE IF NAME ALREADY EXISTS 
        fs.delete(collectionName)
        
        df_bytes = df.to_csv(index=False).encode()
        
        file_id = fs.put(df_bytes, filename=collectionName, _id=collectionName)
    
    def bulk_insert_grid(dbCollections={}):
        for cName,df in dbCollections.items():
            MongoDB.insert_grid(cName,df)
            print(f"{cName} uploaded to mongodb!")
    
    def find_grid(collectionName=[]):
        fs = GridFS(db, collection=collectionName)
        try:
            file = fs.find_one({'filename': collectionName})
            df = pd.read_csv(file,index_col=False)
        except:
            df=[]
            print("No such collection name!")
        return df
    
    def bulk_download_grid(dbCollections={}):
        dfList=[]
        for c in dbCollections:
            df=MongoDB.find_collection(c)
            dfList.append(df)
        return dfList
    
    def delete_all_collection():
        # Get a list of all collection names in the database
        collection_names = db.list_collection_names()
        
        # Delete each collection
        for collection_name in collection_names:
            db[collection_name].drop()
    def delete_collection(collectionName):
        db[collectionName].drop()
            
    def insert_collection(collectionName,df):
        db[collectionName].drop()
        
        collection = db[collectionName]
        documents =df.to_dict(orient='records')

        # Insert the documents in batches using insert_many()
        batch_size = 1000  # Number of documents to insert in each batch
        for i in range(0, len(documents), batch_size):
            batch = documents[i:i+batch_size]
            collection.insert_many(batch)
            
    def bulk_insert_collection(dbCollections={}):
        for cName,df in dbCollections.items():
            MongoDB.insert_collection(cName,df)
            print(f"{cName} uploaded to mongodb!")
    
    def find_collection(type="specific",queryColumn="TICKER",queryList=[],projection={"_id":0},collectionName=""):
        results=[]
        if type == "specific":
            query = {queryColumn:{"$in":queryList}}
        else:
            query={}
        projection = projection
        
        collection=db[collectionName]

        for result in collection.find(query,projection):
        # for result in collection.find(query):
            results.append(result)
        return results

# DATA LOAD 
- Return is a list of dataframe 
- Use Concat to connect all the dataframes in the list 
- Convert all the columns to upper 
- Make "TICKER" the first column - as it is the KEY of Data

## 1. TICKER LIST FOR EACH EXCAHNGE

In [86]:
# Complete Ticker List - Exhchanges  
# US - https://www.sec.gov/include/ticker.txt
# INDIA =  https://www.nseindia.com/market-data/securities-available-for-trading

In [87]:
#TEST DATA - EOD 

def testdata():
    #US Stocks 
    dfTicker=EOD_API.tickers_in_exchange("US")
    usStocks=dfTicker["Code"].unique().tolist()[:50]

    #CAD Stocks 
    dfTicker=EOD_API.tickers_in_exchange("NSE")
    indStocks=dfTicker["Code"].unique().tolist()[:50]

    #IND Stocks 
    dfTicker=EOD_API.tickers_in_exchange("TO")
    cadStocks=dfTicker["Code"].unique().tolist()[:50]

In [223]:
ticks = EOD_API.tickers_in_exchange("NSE")

In [232]:
tickETF=ticks[ticks["Type"]=="ETF"]["Code"].tolist()[:5]

In [222]:
ticks["Type"]==="Co

0        Common Stock
1        Common Stock
2                 ETF
3                FUND
4                FUND
             ...
49858    Common Stock
49859    Common Stock
49860    Common Stock
49861    Common Stock
49862    Common Stock
Name: Type, Length: 49863, dtype: object

In [88]:
# TEST DATA - MONGODB - TEST TICKER LIST - NASDAQ 100 LIST

In [112]:

uri = "mongodb+srv://yash:bianca2212@takestock.zhiygnu.mongodb.net/?retryWrites=true&w=majority"
client = MongoClient(uri, server_api=ServerApi('1'))
dbt = client["TestData"]
fs = GridFS(dbt, collection="US Ticker")
file=fs.find_one({"filename":"US Ticker"})
dfTick = pd.read_csv(file,index_col=False)
tickList=dfTick["Symbol"].unique().tolist()[:1]

In [233]:
exchangeTicker = {"US":tickList}

In [234]:
exchangeTicker

{'NSE': ['ABSLBANETF', 'ABSLNN50ET', 'AUTOBEES', 'AXISBNKETF', 'AXISBPSETF']}

## 2. GETTING DATA FROM EOD API

** Be careful - each time you run this cell an API call is made **

In [235]:
companyInfo,managementInfo,annualFS,quarterFS,insiderTransacInfo,earningHist,earningAnnual,shareholderInfo,noData = EOD_API.company_info(exchangeTicker)

Exchange:NSE
ABSLBANETF,ABSLNN50ET,AUTOBEES,AXISBNKETF,AXISBPSETF,

In [238]:
    #EOD API 
YOUR_API_KEY="64795e4c5f6224.06757647776"
api = APIClient(YOUR_API_KEY)
data = read_url(f"https://eodhistoricaldata.com/api/fundamentals/ABSLBANETF.NSE?api_token={YOUR_API_KEY}")

In [236]:
dfC=concatList(companyInfo)
dfOff = concatList(managementInfo)
dfF=concatList(annualFS)
dfQ=concatList(quarterFS)
dfInsTran = concatList(insiderTransacInfo)
dfEHistorical = concatList(earningHist)
dfEAnnual = concatList(earningAnnual)
dfSh = concatList(shareholderInfo)

ValueError: No objects to concatenate

## 3. SPECIFIC DATA PROCESSING & CLEANING

In [209]:
#Defining DataTypes
dfC["LOGO URL"] = "https://eodhistoricaldata.com/" + dfC["LOGO URL"]
market_cap_bins = [0,500000000, 3000000000, 20000000000, 100000000000, float('inf')]
market_cap_labels = ["Micro Cap", "Small Cap", "Mid Cap", "Large Cap", "Mega Cap"]
# Use pd.cut to create the "MARKET CAP SCALE" column
dfC["MARKET CAP SCALE"] = pd.cut(dfC["MARKET CAPITALIZATION"], bins=market_cap_bins, labels=market_cap_labels)
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
colnumeric = dfC.select_dtypes(include=numerics).columns
dfC[colnumeric]=dfC[colnumeric].fillna(0)
dfC.dropna(subset=["NAME","TICKER"],inplace=True)
dfC.drop_duplicates(subset=["NAME"],inplace=True)
dfC = dfC.replace([np.nan,np.inf,-np.inf],"")

numericCols=dfF.drop(["TICKER","DATE","FILING DATE","CURRENCY SYMBOL","PERIOD"], axis=1).columns
dfF[numericCols] = dfF[numericCols].astype("float").replace(["",np.nan,None],0.00)
dfF[numericCols] =dfF[numericCols].astype("float").replace(["",np.nan,None],0.00)
dfQ[numericCols] = dfQ[numericCols].astype("float").replace(["",np.nan,None],0.00)
dfQ[numericCols] =dfQ[numericCols].astype("float").replace(["",np.nan,None],0.00)


#Merging columns from Company Info to other Dataframes - this will help in cross-referencing
def merge_dfC(df=[],dfC=[]):
    dfCsel=dfC[["TICKER","NAME","MARKET CAPITALIZATION","SECTOR","INDUSTRY","COUNTRY"]]
    dfmerged = pd.merge(df,dfCsel,left_on="TICKER",right_on="TICKER")
    return dfmerged


dfF = merge_dfC(dfF,dfC)
dfQ = merge_dfC(dfQ,dfC)

## 4. RATIO CALCUALTIONS

In [210]:
dfF = Ratios(dfF)
dfQ = Ratios(dfQ)
dfF= dfF.replace([np.nan,np.inf,-np.inf],"")
dfQ= dfQ.replace([np.nan,np.inf,-np.inf],"")

# 5. IF not already there: CREATE A MANUAL METRIC REFERENCE FILE FROM ANNUAL OR QUARTER FINANCIALS 

- WILL SHOW STATEMENT CATEGORY AND SUB-CATEOGRY, AND MULTI-PERIOD FORMATS ETC.

In [211]:
dfM=MongoDB.find_grid(collectionName="MetricReference")

# 6. Define COMMON VARIABLES

In [212]:
#VARIABLES

sector = 'SECTOR'
industry = "INDUSTRY"
ticker = "TICKER"
coName = "NAME"
year = "YEAR"
marketCap='MARKET CAPITALIZATION'
updatedTicker="YF TICKER"
country = "COUNTRY"
Date ="DATE"
roic = 'ROIC'
revenue = 'TOTAL REVENUE'
rev_type = "TOTAL REVENUE"
fcf = 'FREE CASH FLOW'
gm = 'GROSS PROFIT MARGIN'
ebitda_m = 'EBITDA MARGIN'
npm = 'NET PROFIT MARGIN'
nprofit = "NET INCOME"
gp = "GROSS PROFIT"
ebitda = "EBITDA"
assets = "TOTAL ASSETS"
liab="TOTAL LIAB"
equity="TOTAL STOCKHOLDER EQUITY"
cfo = "TOTAL CASH FROM OPERATING ACTIVITIES"
cfi = "TOTAL CASHFLOWS FROM INVESTING ACTIVITIES"
cff = "TOTAL CASH FROM FINANCING ACTIVITIES"
d_e = 'DEBT TO EQUITY'
c_r = 'CURRENT RATIO'
pe = 'PRICE TO EARNINGS RATIO (TTM)'
pcf = 'PRICE TO FREE CASH FLOW (TTM)'
prev = "PRICE TO REVENUE RATIO (TTM)"
st1 = "IS"
st2 = "CF"
st3 = "Ratio"
st4 = "Ratio"
IS = "IS"
BS = "BS"
CF = "CF"
OT = "Ratio "
mScale="MARKET CAP SCALE"
indexUS=["S&P500","NASDAQ100","DOW30"]
indexIND = ["SECTORIAL INDEX","MARKET CAP INDEX"]

# 7. CONVERTING NON USD FINANCIALS TO USD 
- this will require 
- dfM file
- Historical FOREX Data - currently using yfinance

In [213]:
dfF = AFUSD(dfF)

In [214]:
dfQ = QFUSD(dfQ)

# 8. CREATING A MULTI-PERIOD COMPANY INFO - USED FOR SCREENER TABLES

In [215]:
dFFex = dfF.copy()
for met in dfM[dfM["Statement"]=="BS"]["Metric"]:
                dFFex[met]=dFFex[met]*dFFex["ExRate_asonDate"]

for met in dfM[dfM["Statement"].isin(["CF","IS"])]["Metric"]:
            dFFex[met]=dFFex[met]*dFFex["ExRate_forperiod"]

In [216]:
multidfC=screenerTable(dfF=dFFex,dfC=dfC,dfM=dfM)
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
colnumeric = multidfC.select_dtypes(include=numerics).columns
multidfC[colnumeric]=multidfC[colnumeric].fillna(0)
multidfC.dropna(subset=[coName,"TICKER"],inplace=True)
multidfC.drop_duplicates(subset=[coName],inplace=True)
multidfC = multidfC.replace([np.nan,np.inf,-np.inf],"")

# 9. UPLOADING DATA TO MONGODB

In [148]:
dfTickList = pd.DataFrame.from_dict(tickList)
dfTickList.columns = ["Tickers"]

In [149]:
dbCollections = {"CompanyInfo": dfC, "ManagementInfo": dfOff, "AnnualFinancials":dfF, "QuarterlyFinancials":dfQ, 
                 "ScreenerTable":multidfC,"InsiderTransaction":dfInsTran,"EarningsHistorical":dfEHistorical,"EarningsAnnual":dfEAnnual,"Shareholders":dfSh}
dbGrid = {"TickerList":dfTickList,"MetricReference":dfM}

In [153]:
MongoDB.bulk_insert_collection(dbCollections)

CompanyInfo uploaded to mongodb!
ManagementInfo uploaded to mongodb!
AnnualFinancials uploaded to mongodb!
QuarterlyFinancials uploaded to mongodb!
ScreenerTable uploaded to mongodb!
InsiderTransaction uploaded to mongodb!
EarningsHistorical uploaded to mongodb!
EarningsAnnual uploaded to mongodb!
Shareholders uploaded to mongodb!

In [ ]:
MongoDB.insert_grid("TickerList",dfTickList)

# 10. LOAD DATA FROM MONGODB

In [ ]:
pd.set_option("display.max_columns", None)

In [248]:
dfF=MongoDB.find_collection(collectionName="AnnualFinancials",type="any")

In [252]:
df=pd.DataFrame.from_dict(dfF)

In [255]:
df.groupby(by=["SECTOR","PERIOD"]).mean().reset_index()

,SECTOR,PERIOD,TOTAL ASSETS,INTANGIBLE ASSETS,EARNING ASSETS,OTHER CURRENT ASSETS,TOTAL LIAB,TOTAL STOCKHOLDER EQUITY,DEFERRED LONG TERM LIAB,OTHER CURRENT LIAB,...,DEBT TO ASSETS,FINANCIAL LEVERAGE,INTEREST COVERAGE,ROIC,ROA,OPERATING ROA,ROE,MONTH,YEAR BS,LAST YEAR
0,Communication Services,1988,2.370700e+09,0.000000e+00,0.0,1.196000e+08,2.165000e+09,2.057000e+08,0.000000e+00,1.097000e+08,...,0.000000,11.525000,0.000000,-0.215800,-0.020100,-0.018700,-0.231400,12.0,1988.0,1987.0
1,Communication Services,1989,2.582700e+09,0.000000e+00,0.0,1.456000e+08,2.414700e+09,1.680000e+08,0.000000e+00,5.290000e+07,...,0.000000,15.373200,0.000000,-0.874400,-0.057600,-0.056900,-0.885700,12.0,1989.0,1988.0
2,Communication Services,1990,1.228300e+09,0.000000e+00,0.0,6.770000e+07,1.239150e+09,-1.085000e+07,0.000000e+00,2.665000e+07,...,0.000000,-56.603700,0.000000,4.218900,-0.036300,-0.037250,4.110600,7.5,1990.0,1989.0
3,Communication Services,1991,1.396800e+09,1.709000e+08,0.0,2.448500e+08,1.387050e+09,9.750000e+06,0.000000e+00,2.565000e+07,...,0.000000,71.630750,0.000000,-3.661550,-0.027850,-0.025550,-3.989750,7.5,1991.0,1990.0
4,Communication Services,1992,1.435500e+09,7.733333e+06,0.0,5.273333e+07,1.486367e+09,-5.086667e+07,0.000000e+00,2.413333e+07,...,0.000000,-7.443533,-0.027767,0.469133,-0.022767,-0.020967,0.393067,9.0,1992.0,1991.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,Utilities,2018,7.815193e+10,3.933333e+07,0.0,1.941700e+09,5.670147e+10,2.067147e+10,7.335300e+09,2.614933e+09,...,2.892333,3.756067,2.959867,0.065467,0.024100,0.040500,0.090000,12.0,2018.0,2017.0
286,Utilities,2019,8.377243e+10,5.800000e+07,0.0,1.001300e+09,6.119737e+10,2.169840e+10,7.712000e+09,3.188700e+09,...,2.772433,3.851567,2.695733,0.059100,0.025567,0.036967,0.098467,12.0,2019.0,2018.0
287,Utilities,2020,7.803130e+10,0.000000e+00,0.0,1.544675e+09,5.680792e+10,2.002748e+10,6.061425e+09,3.188425e+09,...,3.691075,3.869775,2.734425,0.056800,0.020400,0.032825,0.078675,12.0,2020.0,2019.0
288,Utilities,2021,8.165468e+10,0.000000e+00,0.0,1.237700e+09,6.047938e+10,2.091430e+10,6.341200e+09,5.047525e+09,...,3.440525,3.941750,1.757350,0.034575,0.017025,0.023375,0.064750,12.0,2021.0,2020.0
289,Utilities,2022,7.422885e+10,0.000000e+00,0.0,1.641525e+09,5.500050e+10,1.908260e+10,8.632500e+07,2.309850e+09,...,3.794350,3.923050,1.585275,0.036225,0.018075,0.026400,0.068275,12.0,2022.0,2021.0

In [257]:
dfC[["TICKER","NAME"]]

  TICKER       NAME
0   AAPL  Apple Inc

In [258]:
multidfC.to_csv("Scree

,TICKER,TYPE,NAME,EXCHANGE,CURRENCY CODE,CURRENCY NAME,CURRENCY SYMBOL,COUNTRY,COUNTRY ISO,OPEN FIGI,...,CURRENT RATIO 1Y-AVERAGE,DEBT TO EQUITY 1Y-AVERAGE,ROIC 1Y-AVERAGE,ROA 1Y-AVERAGE,OPERATING ROA 1Y-AVERAGE,ROE 1Y-AVERAGE,FUNDAMENTAL GROWTH RATING,FUNDAMENTAL AVG RATING,FUNDAMENTAL SIZE RATING,FUNDAMENTAL OVERALL RATING
0,AAPL,Common Stock,Apple Inc,NASDAQ,USD,US Dollar,$,USA,US,BBG000B9XRY4,...,0.977,2.17315,0.6398,0.2763,0.3245,1.73515,4.93,6.97,10.0,6.4

In [48]:
dfF['FAIR VALUE (30)']

0      212.6090
1      172.7911
2      133.2468
3      104.6519
4      107.1726
         ...
131     -1.2566
132     -1.5458
133      0.0724
134     -0.0013
135     -0.0141
Name: FAIR VALUE (30), Length: 136, dtype: float64

In [259]:
YOUR_API_KEY="64795e4c5f6224.06757647776"
api = APIClient(YOUR_API_KEY)

In [350]:
   
def exchange_list():
    exchange_dict=read_url(url=f"https://eodhistoricaldata.com/api/exchanges-list/?api_token={YOUR_API_KEY}")
    dfExchange=pd.DataFrame.from_dict(exchange_dict)
    return dfExchange

def global_ticker_list(dfExchange=[]):
    exchangeList = dfExchange["Code"].tolist()
    exchangeList.append("NSE")
    dfGlobalTicker=[]
    for exchangeCode in exchangeList:
        tickInfo = read_url(url=f"https://eodhistoricaldata.com/api/exchange-symbol-list/{exchangeCode}?api_token={YOUR_API_KEY}&fmt=json")
        df=pd.DataFrame.from_dict(tickInfo)
        dfGlobalTicker.append(df)
    dfGt = pd.concat(dfGlobalTicker)
    return dfGt

In [341]:
url=read_url(f"https://eodhistoricaldata.com/api/exchange-symbol-list/NSE?api_token={YOUR_API_KEY}&fmt=json")

In [347]:
dfex = exchange_list()

In [351]:
dfGl=global_ticker_list(dfex)

In [364]:
MongoDB.insert_collection("Tickers",dfGl)

In [363]:
dfGl

,Code,Name,Country,Exchange,Currency,Type,Isin
0,0P0000A412,Franklin U.S. Opportunities Fund A,USA,US,USD,FUND,None
1,A,Agilent Technologies Inc,USA,NYSE,USD,Common Stock,US00846U1016
2,AA,Alcoa Corp,USA,NYSE,USD,Common Stock,US0138721065
3,AAA,Listed Funds Trust - AAF First Priority CLO Bo...,USA,NYSE ARCA,USD,ETF,US53656F6566
4,AAAAX,DEUTSCHE REAL ASSETS FUND CLASS A,USA,NMFQS,USD,FUND,None
...,...,...,...,...,...,...,...
2090,ZOTA,Zota Health Care LImited,India,NSE,INR,Common Stock,INE358U01012
2091,ZUARI,Zuari Agro Chemicals Limited,India,NSE,INR,Common Stock,INE840M01016
2092,ZUARIIND,ZUARI INDUSTRIES LIMITED,India,NSE,INR,Common Stock,INE217A01012
2093,ZYDUSLIFE,Zydus Lifesciences Limited,India,NSE,INR,Common Stock,INE010B01027
2094,ZYDUSWELL,Zydus Wellness Limited,India,NSE,INR,Common Stock,INE768C01010

In [353]:
dfGl[dfGl["Country"]=="India"]

,Code,Name,Country,Exchange,Currency,Type,Isin
0,20MICRONS,20 Microns Limited,India,NSE,INR,Common Stock,INE144J01027
1,21STCENMGM,21st Century Management Services Limited,India,NSE,INR,Common Stock,INE253B01015
2,360ONE,360 ONE WAM LIMITED,India,NSE,INR,Common Stock,INE466L01038
3,3IINFOLTD,3i Infotech Limited,India,NSE,INR,Common Stock,INE748C01038
4,3MINDIA,3M India Limited,India,NSE,INR,Common Stock,INE470A01017
...,...,...,...,...,...,...,...
2090,ZOTA,Zota Health Care LImited,India,NSE,INR,Common Stock,INE358U01012
2091,ZUARI,Zuari Agro Chemicals Limited,India,NSE,INR,Common Stock,INE840M01016
2092,ZUARIIND,ZUARI INDUSTRIES LIMITED,India,NSE,INR,Common Stock,INE217A01012
2093,ZYDUSLIFE,Zydus Lifesciences Limited,India,NSE,INR,Common Stock,INE010B01027
2094,ZYDUSWELL,Zydus Wellness Limited,India,NSE,INR,Common Stock,INE768C01010

In [361]:
dfEod=read_url(f"https://eodhistoricaldata.com/api/eod-bulk-last-day/NSE?api_token={YOUR_API_KEY}&fmt=json&filter=extended")

In [362]:
pd.DataFrame.from_dict(dfEod)

,code,name,type,exchange_short_name,date,MarketCapitalization,Beta,open,high,low,close,adjusted_close,volume,ema_50d,ema_200d,hi_250d,lo_250d,avgvol_14d,avgvol_50d,avgvol_200d
0,20MICRONS,20 Microns Limited,Common Stock,NSE,2023-08-02,3959145216,0.5085,112.20,112.20,112.05,112.05,112.05,112570,98.542,91.325,121.35,63.77,162130.57,224635.50,147334.45
1,21STCENMGM,21st Century Management Services Limited,Common Stock,NSE,2023-08-02,219371072,0.4206,20.40,20.80,20.00,20.75,20.75,3777,20.502,21.317,30.25,16.80,3040.36,5301.24,6204.47
2,360ONE,360 ONE WAM LIMITED,Common Stock,NSE,2023-08-02,149835022336,0.2965,518.35,519.50,501.40,503.95,503.95,70412,476.599,446.532,523.75,401.35,170812.71,392667.38,397323.68
3,3IINFOLTD,3i Infotech Limited,Common Stock,NSE,2023-08-02,5898025472,0.9830,35.05,35.35,34.00,34.35,34.35,536877,33.831,36.861,52.55,26.45,885457.21,717262.90,542027.31
4,3MINDIA,3M India Limited,Common Stock,NSE,2023-08-02,324108779520,0.2839,28647.70,28890.00,27777.10,28267.15,28267.15,3304,26997.522,24449.166,28922.55,21477.79,3579.43,4044.26,4408.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1974,ZOTA,Zota Health Care LImited,Common Stock,NSE,2023-08-02,10192425984,0.6567,403.00,417.00,395.10,411.10,411.10,74405,368.448,317.973,426.30,259.95,49707.93,56908.92,42356.70
1975,ZUARI,Zuari Agro Chemicals Limited,Common Stock,NSE,2023-08-02,6781852672,0.1855,159.50,164.80,156.20,159.20,159.20,350153,153.320,153.267,197.25,117.15,194697.43,263610.30,172771.37
1976,ZUARIIND,ZUARI INDUSTRIES LIMITED,Common Stock,NSE,2023-08-02,4797751296,0.8847,153.90,167.10,153.90,160.20,160.20,414651,146.754,144.642,187.46,105.70,76848.21,82030.70,54704.99
1977,ZYDUSLIFE,Zydus Lifesciences Limited,Common Stock,NSE,2023-08-02,638546345984,0.4016,633.95,635.00,622.00,628.60,628.60,855435,572.878,486.139,643.50,343.11,908912.86,1018527.28,1069990.77
1978,ZYDUSWELL,Zydus Wellness Limited,Common Stock,NSE,2023-08-02,94035730432,0.1126,1484.95,1487.50,1470.05,1475.70,1475.70,57884,1479.293,1519.723,1764.60,1392.32,49661.43,55164.34,35531.63

In [349]:
dfex["Country"].unique()

array(['USA', 'UK', 'Canada', 'Germany', 'Austria', 'Luxembourg',
       'France', 'Belgium', 'Spain', 'Switzerland', 'Portugal',
       'Netherlands', 'Sweden', 'Ireland', 'Denmark', 'Norway', 'Iceland',
       'Finland', 'Botswana', 'Mauritius', 'Egypt', 'Ghana',
       'Czech Republic', 'Ivory Coast', 'Kenya', 'Morocco', 'Zimbabwe ',
       'Malawi', 'Nigeria', 'Rwanda', 'Tanzania', 'Uganda', 'Zambia ',
       'Israel', 'Korea', 'Hungary', 'Poland', 'Philippines', 'Indonesia',
       'China', 'South Africa', 'Greece', 'Chile', 'Thailand',
       'Australia', 'Pakistan', 'Saudi Arabia', 'Sri Lanka', 'Vietnam',
       'Malaysia', 'Argentina', 'Brazil', 'Romania', 'Mexico', 'Croatia',
       'Russia', 'Taiwan', 'Peru', 'Unknown', 'Turkey'], dtype=object)

In [334]:
exchangeList = exchange_list()

In [338]:
exchangeList[exchangeList["Name"]=="NSE"]

Empty DataFrame
Columns: [Name, Code, OperatingMIC, Country, Currency, CountryISO2, CountryISO3]
Index: []

In [335]:
exchangeList[exchangeList["Code"]=="NSE"]

Empty DataFrame
Columns: [Name, Code, OperatingMIC, Country, Currency, CountryISO2, CountryISO3]
Index: []

In [297]:
tickInfo=[]
for exCode in exchangeCode:
    dfTicker = read_url(url=f"https://eodhistoricaldata.com/api/exchange-symbol-list/{exCode}?api_token={YOUR_API_KEY}&fmt=json")
    df=pd.DataFrame.from_dict(dfTicker)
    tickInfo.append(df)

In [298]:
pd.concat(tickInfo)

,Code,Name,Country,Exchange,Currency,Type,Isin
0,0P0000A412,Franklin U.S. Opportunities Fund A,USA,US,USD,FUND,None
1,A,Agilent Technologies Inc,USA,NYSE,USD,Common Stock,US00846U1016
2,AA,Alcoa Corp,USA,NYSE,USD,Common Stock,US0138721065
3,AAA,Listed Funds Trust - AAF First Priority CLO Bo...,USA,NYSE ARCA,USD,ETF,US53656F6566
4,AAAAX,DEUTSCHE REAL ASSETS FUND CLASS A,USA,NMFQS,USD,FUND,None
...,...,...,...,...,...,...,...
2090,ZOTA,Zota Health Care LImited,India,NSE,INR,Common Stock,INE358U01012
2091,ZUARI,Zuari Agro Chemicals Limited,India,NSE,INR,Common Stock,INE840M01016
2092,ZUARIIND,ZUARI INDUSTRIES LIMITED,India,NSE,INR,Common Stock,INE217A01012
2093,ZYDUSLIFE,Zydus Lifesciences Limited,India,NSE,INR,Common Stock,INE010B01027
2094,ZYDUSWELL,Zydus Wellness Limited,India,NSE,INR,Common Stock,INE768C01010

In [295]:
df=pd.DataFrame.from_dict(tickInfo)

In [296]:
df

,0,1,2,3,4,5,6,7,8,9,...,49728,49729,49730,49731,49732,49733,49734,49735,49736,49737
0,"{'Code': '0P0000A412', 'Name': 'Franklin U.S. ...","{'Code': 'A', 'Name': 'Agilent Technologies In...","{'Code': 'AA', 'Name': 'Alcoa Corp', 'Country'...","{'Code': 'AAA', 'Name': 'Listed Funds Trust - ...","{'Code': 'AAAAX', 'Name': 'DEUTSCHE REAL ASSET...","{'Code': 'AAACX', 'Name': 'A3 Alternative Cred...","{'Code': 'AAAEX', 'Name': 'Virtus AllianzGI He...","{'Code': 'AAAFX', 'Name': 'American Century On...","{'Code': 'AAAGX', 'Name': 'THRIVENT LARGE CAP ...","{'Code': 'AAAHX', 'Name': 'American Century On...",...,"{'Code': 'ZWBC', 'Name': 'Goldkey Corporation'...","{'Code': 'ZWS', 'Name': 'Zurn Elkay Water Solu...","{'Code': 'ZWZZT', 'Name': 'NASDAQ TEST STOCK',...","{'Code': 'ZYME', 'Name': 'Zymeworks Inc. Commo...","{'Code': 'ZYNE', 'Name': 'Zynerba Pharmaceutic...","{'Code': 'ZYXI', 'Name': 'Zynex Inc', 'Country...","{'Code': 'ZZHGF', 'Name': 'ZhongAn Online P & ...","{'Code': 'ZZHGY', 'Name': 'ZhongAn Online P & ...","{'Code': 'ZZLL', 'Name': 'ZZLL Information Tec...","{'Code': 'ZZZOF', 'Name': 'Zinc One Resources ..."
1,"{'Code': '0A00', 'Name': 'Akzo Nobel N.V.', 'C...","{'Code': '0A02', 'Name': 'Neoen SA', 'Country'...","{'Code': '0A05', 'Name': 'Medacta Group S.A.',...","{'Code': '0A0C', 'Name': 'Stadler Rail AG', 'C...","{'Code': '0A0D', 'Name': 'Alcon Inc.', 'Countr...","{'Code': '0A0F', 'Name': 'Citycon Oyj', 'Count...","{'Code': '0A0H', 'Name': 'Beijer Ref AB Series...","{'Code': '0A0I', 'Name': 'Wihlborgs Fastighete...","{'Code': '0A0J', 'Name': 'AAK AB', 'Country': ...","{'Code': '0A0K', 'Name': 'Nyfosa AB', 'Country...",...,None,None,None,None,None,None,None,None,None,None
2,"{'Code': 'AEDAUD', 'Name': 'AEDAUD', 'Country'...","{'Code': 'AEDCAD', 'Name': 'AEDCAD', 'Country'...","{'Code': 'AEDCHF', 'Name': 'AEDCHF', 'Country'...","{'Code': 'AEDEUR', 'Name': 'UAE Dirham/Euro FX...","{'Code': 'AEDGBP', 'Name': 'AEDGBP', 'Country'...","{'Code': 'AEDINR', 'Name': 'UAE Dirham/Indian ...","{'Code': 'AEDJPY', 'Name': 'UAE Dirham/Japanes...","{'Code': 'AEDNOK', 'Name': 'UAE Dirham/Norwegi...","{'Code': 'AEDNZD', 'Name': 'AEDNZD', 'Country'...","{'Code': 'AEDPKR', 'Name': 'UAE Dirham/Pakista...",...,None,None,None,None,None,None,None,None,None,None
3,"{'Code': '20MICRONS', 'Name': '20 Microns Limi...","{'Code': '21STCENMGM', 'Name': '21st Century M...","{'Code': '360ONE', 'Name': '360 ONE WAM LIMITE...","{'Code': '3IINFOLTD', 'Name': '3i Infotech Lim...","{'Code': '3MINDIA', 'Name': '3M India Limited'...","{'Code': '3PLAND', 'Name': '3P Land Holdings L...","{'Code': '4THDIM', 'Name': 'Fourth Dimension S...","{'Code': '5PAISA', 'Name': '5paisa Capital Ltd...","{'Code': '63MOONS', 'Name': '63 moons technolo...","{'Code': 'A2ZINFRA', 'Name': 'A2Z Infra Engine...",...,None,None,None,None,None,None,None,None,None,None

In [290]:
df

,Code,Name,Country,Exchange,Currency,Type,Isin
0,AEDAUD,AEDAUD,Unknown,FOREX,NA,Currency,None
1,AEDCAD,AEDCAD,Unknown,FOREX,NA,Currency,None
2,AEDCHF,AEDCHF,Unknown,FOREX,NA,Currency,None
3,AEDEUR,UAE Dirham/Euro FX Cross Rate,Unknown,FOREX,NA,Currency,None
4,AEDGBP,AEDGBP,Unknown,FOREX,NA,Currency,None
...,...,...,...,...,...,...,...
853,ZARSEK,South African Rand/Swedish Krona FX Cross Rate,Unknown,FOREX,NA,Currency,None
854,ZARSGD,South African Rand/Singapore Dollar FX Cross Rate,Unknown,FOREX,SGD,Currency,None
855,ZARTHB,ZARTHB,Unknown,FOREX,NA,Currency,None
856,ZARTWD,South African Rand/Taiwan Dollar FX Cross Rate,Unknown,FOREX,NA,Currency,None
857,ZARUSD,South African Rand/US Dollar FX Cross Rate,Unknown,FOREX,USD,Currency,None

In [289]:
df["Type"].unique()

array(['Currency'], dtype=object)

In [264]:
dfEx = exchangeList["Code"].tolist()

In [328]:
exchangeList["Country"].unique()

array(['USA', 'UK', 'Canada', 'Germany', 'Austria', 'Luxembourg',
       'France', 'Belgium', 'Spain', 'Switzerland', 'Portugal',
       'Netherlands', 'Sweden', 'Ireland', 'Denmark', 'Norway', 'Iceland',
       'Finland', 'Botswana', 'Mauritius', 'Egypt', 'Ghana',
       'Czech Republic', 'Ivory Coast', 'Kenya', 'Morocco', 'Zimbabwe ',
       'Malawi', 'Nigeria', 'Rwanda', 'Tanzania', 'Uganda', 'Zambia ',
       'Israel', 'Korea', 'Hungary', 'Poland', 'Philippines', 'Indonesia',
       'China', 'South Africa', 'Greece', 'Chile', 'Thailand',
       'Australia', 'Pakistan', 'Saudi Arabia', 'Sri Lanka', 'Vietnam',
       'Malaysia', 'Argentina', 'Brazil', 'Romania', 'Mexico', 'Croatia',
       'Russia', 'Taiwan', 'Peru', 'Unknown', 'Turkey'], dtype=object)

In [325]:
dfEx

['US',
 'LSE',
 'NEO',
 'V',
 'TO',
 'BE',
 'HM',
 'XETRA',
 'DU',
 'MU',
 'F',
 'HA',
 'STU',
 'VI',
 'LU',
 'PA',
 'BR',
 'MC',
 'SW',
 'LS',
 'AS',
 'ST',
 'IR',
 'CO',
 'OL',
 'IC',
 'HE',
 'XBOT',
 'SEM',
 'EGX',
 'GSE',
 'PR',
 'BRVM',
 'XNAI',
 'BC',
 'VFEX',
 'MSE',
 'XNSA',
 'RSE',
 'DSE',
 'USE',
 'LUSE',
 'XZIM',
 'TA',
 'KQ',
 'KO',
 'BUD',
 'WAR',
 'PSE',
 'JK',
 'SHG',
 'JSE',
 'AT',
 'SHE',
 'SN',
 'BK',
 'AU',
 'KAR',
 'SR',
 'CM',
 'VN',
 'KLSE',
 'BA',
 'SA',
 'RO',
 'MX',
 'IL',
 'ZSE',
 'MCX',
 'TWO',
 'TW',
 'LIM',
 'MONEY',
 'EUFUND',
 'IS',
 'CC',
 'FOREX']

In [300]:
dfGl = global_ticker_list(exchangeList)

In [307]:
dfGl=dfGl.reset_index()

In [324]:
dfGl["Country"].unique()

array(['USA', 'UK', 'Canada', 'Germany', 'Unknown', 'France', 'Belgium',
       'Singapore', 'Austria', 'Luxembourg', 'Spain', 'Switzerland',
       'Portugal', 'Netherlands', 'Sweden', 'Ireland', 'Denmark',
       'Norway', 'Iceland', 'Finland', 'Botswana', 'Mauritius', 'Egypt',
       'Czech Republic', 'Kenya', 'Morocco', 'Malawi', 'Israel', 'Korea',
       'Hungary', 'Poland', 'Philippines', 'Indonesia', 'China',
       'South Africa', 'Greece', 'Chile', 'Thailand', 'Australia',
       'Pakistan', 'Saudi Arabia', 'Sri Lanka', 'Vietnam', 'Malaysia',
       'Argentina', 'Brazil', 'Russia', 'Romania', 'Mexico', 'Croatia',
       'Taiwan', 'Peru', 'Japan', 'Italy', 'Turkey'], dtype=object)

In [322]:
dfGl[dfGl["Type"]=="Common Stock"]["Country"].unique()

array(['USA', 'UK', 'Canada', 'Germany', 'France', 'Belgium', 'Singapore',
       'Austria', 'Spain', 'Switzerland', 'Portugal', 'Netherlands',
       'Sweden', 'Ireland', 'Denmark', 'Norway', 'Iceland', 'Finland',
       'Botswana', 'Mauritius', 'Egypt', 'Czech Republic', 'Kenya',
       'Morocco', 'Malawi', 'Israel', 'Korea', 'Hungary', 'Poland',
       'Philippines', 'Indonesia', 'China', 'South Africa', 'Greece',
       'Chile', 'Thailand', 'Australia', 'Pakistan', 'Saudi Arabia',
       'Sri Lanka', 'Vietnam', 'Unknown', 'Malaysia', 'Argentina',
       'Brazil', 'Russia', 'Romania', 'Mexico', 'Croatia', 'Taiwan',
       'Peru', 'Luxembourg', 'Turkey'], dtype=object)

In [310]:
dfGl["Type"].unique()

array(['FUND', 'Common Stock', 'ETF', 'Mutual Fund', 'Preferred Stock',
       'Warrant', 'ETC', 'Note', 'INDEX', 'Capital Notes', 'Rate',
       'MONEY', 'Currency'], dtype=object)

In [277]:
pd.concat(dfGl)

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [271]:
dfT=pd.DataFrame.from_dict(dfGl)

In [43]:
YOUR_API_KEY="64795e4c5f6224.06757647776"
api = APIClient(YOUR_API_KEY)
    
# url=f"https://eodhistoricaldata.com/api/real-time/AAPL.US?api_token={YOUR_API_KEY}&fmt=json&s=VTI,EUR.FOREX"
url="https://eodhistoricaldata.com/api/news?api_token=demo&s=AAPL.US&offset=0&limit=10"
# url=f"https://eodhistoricaldata.com/api/eod-bulk-last-day/NSE?api_token={YOUR_API_KEY}&symbols=MSFT,AAPL&fmt=json&filter=extended"
# url=f"https://eodhistoricaldata.com/api/eod//AAPL.US?from=2017-01-05&to=2017-02-10&period=d&fmt=json&&api_token={YOUR_API_KEY}"
response = urllib.request.urlopen(url)
data = json.loads(response.read())

In [45]:
msft = yf.Ticker("MSFT")

In [46]:
msft.news

[{'uuid': '11ff910f-87a7-30e2-8d8c-5e154000b422',
  'title': 'Microsoft, Google Are Key Earnings Movers Late After S&P 500 Hits New High; Fed Rate Hike Due',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/11ff910f-87a7-30e2-8d8c-5e154000b422/microsoft%2C-google-are-key.html',
  'providerPublishTime': 1690323299,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/IYaoXKbG4mCeiK63QPUEUw--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/42ec45a676173a5ac3337427561ad03b',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/WOiezJ.roe15MRlokKSIlw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/42ec45a676173a5ac3337427561ad03b',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT',
   '^GSPC',
   'GOOGL',
   'COMP',
   '^DJI',
   '^RUT',
   'SNAP',
   'BA',
   'NVDA',
   'PACW']},
 {'uuid': 'a41231d7-9e95-321e-8cca-41339d694dff',
  'title': 'Microsoft Cloud Business Boosts Results, But Shares Sink On Outlook',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/a41231d7-9e95-321e-8cca-41339d694dff/microsoft-cloud-business.html',
  'providerPublishTime': 1690323157,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/zkoPnwum_fuOb.8O8WLCDA--~B/aD01MTE7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/8a60ae6626d0a08413dc2fd3e954dc63',
     'width': 1000,
     'height': 511,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/pvuZA5et55_6wnP4KMtI1w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/8a60ae6626d0a08413dc2fd3e954dc63',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'dc68b73a-0d2c-3837-b981-5d09d0982c20',
  'title': 'Microsoft reports slowing cloud growth as it awaits AI revenue',
  'publisher': 'American City Business Journals',
  'link': 'https://finance.yahoo.com/m/dc68b73a-0d2c-3837-b981-5d09d0982c20/microsoft-reports-slowing.html',
  'providerPublishTime': 1690320937,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/2SLhpfgHiSE5Wx3T9ZBG1Q--~B/aD05NjE7dz0xNDQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bizjournals.com/aa2bd4889caf0e002661cd01391ba48d',
     'width': 1440,
     'height': 961,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/fvN5KKZK8jDR.Xn5y__35g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bizjournals.com/aa2bd4889caf0e002661cd01391ba48d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '8d3e537b-fba0-32b7-b825-4972ff92ae1b',
  'title': 'Microsoft Touts AI as Cloud Demand Cools',
  'publisher': 'The Wall Street Journal',
  'link': 'https://finance.yahoo.com/m/8d3e537b-fba0-32b7-b825-4972ff92ae1b/microsoft-touts-ai-as-cloud.html',
  'providerPublishTime': 1690320900,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Z4fmrx_6NcddpOc3xgVCNA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/482053923069147c31f86d742318a20d',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/qnhmxVoznbCb0ZMm1ODNPA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/wsj.com/482053923069147c31f86d742318a20d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '31fc683b-d7ea-3692-90e9-f17ed2af1205',
  'title': 'Microsoft Posts Tepid Sales Growth as Cloud Business Slows',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/microsoft-posts-tepid-sales-growth-202245587.html',
  'providerPublishTime': 1690319893,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/N0iHxbcBmjUz1e6jsH9kSw--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_technology_68/147f3c39ec1b7995ab2c7d1e5ea23576',
     'width': 2000,
     'height': 1333,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/swBqUFQqf6bHnYa_8DnNMw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_technology_68/147f3c39ec1b7995ab2c7d1e5ea23576',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'd5c28ead-7898-3183-b1be-296031ee8421',
  'title': "Microsoft becoming 'Death Star' of tech while optimizing faster into AI: Strategist",
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/microsoft-becoming-death-star-tech-211454363.html',
  'providerPublishTime': 1690319694,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/aMECrcMbBxMzk9PrAsltcg--~B/aD0xMjM0O3c9MjE5MjthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2023-07/368e8b00-2b30-11ee-9ff4-02552fcd052b',
     'width': 2192,
     'height': 1234,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/Z3ucvFhAaOnXswi5sTr5pw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2023-07/368e8b00-2b30-11ee-9ff4-02552fcd052b',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOG', 'GOOGL', 'MSFT']},
 {'uuid': 'a92a7f5a-038d-3c20-a1df-4d2b0993b23d',
  'title': 'Microsoft revenue rises despite slowing Azure cloud platform growth',
  'publisher': 'Financial Times',
  'link': 'https://finance.yahoo.com/m/a92a7f5a-038d-3c20-a1df-4d2b0993b23d/microsoft-revenue-rises.html',
  'providerPublishTime': 1690319274,
  'type': 'STORY',
  'relatedTickers': ['MSFT']},
 {'uuid': 'b02244f1-cf40-31ce-a19d-6e515be002e7',
  'title': 'Microsoft Stock Slips Despite Strong Earnings',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/b02244f1-cf40-31ce-a19d-6e515be002e7/microsoft-stock-slips-despite.html',
  'providerPublishTime': 1690318500,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/zIviAXOi9tmUTrVMTkH1QQ--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/b16aa6767b3ff01d3fef7390511472dc',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/uaG3bQ7xhfTKQcgU4Z7VVQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/b16aa6767b3ff01d3fef7390511472dc',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']}]

In [36]:
len(data)

17733

In [ ]:
)https://eodhistoricaldata.com/api/eod-bulk-last-day/US?api_token={YOUR_API_KEY}

SyntaxError: unmatched ')' (1936586163.py, line 1)